.blog-lead {
    grid-column: 2;
    justify-self: center;
    width: 90%;
}

.blog-post-preview {
    background-color: #242424;
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 1rem;
}
h1 > * {
    font-size: 1.2rem;
    text-decoration-line: none;
}
h2 {
    font-size: 0.8rem;
    font-weight: 100;
}


