@import "prism.css";

* {
    color: #DEDEDE;
    font-family: Helvetica;
}
html {
    height: 100%;
    
}
body {
    height: 100%;
    background: #121212;
}


h1, h3 {
    font-size: 1.5rem;
    font-family: Helvetica;
    font-weight: 150;
    line-height: 1;
    color: #C0BDFF;
}
p, span, a {
    display: table;
    margin-bottom: 32px;
}


p, div {
    font-size: 18px;
}

a {
    color: #C0BDFF;
    text-decoration: none;
}